html {
  display: block;
  width: 100%;
  margin: auto 0;
}

body {
  background-color: #1e1e1e;
  color: rgb(206, 206, 206);
  padding: 5% 10% 10%;
  font-family: 'Courier New', Courier, monospace;
}

@media screen and (min-width: 0px) {
  body {
    font-size: 10px;
  }
}

@media screen and (min-width: 900px) {
  body {
    font-size: 14px;
  }
}

p {
  position: relative;
  animation: 1s linear 0s 1 alternate ghost-in;
  cursor: pointer;
  padding-bottom: 50px;
}

@keyframes ghost-in {
  0% {
    opacity: 0%;
  }
  68%,
  72% {
    opacity: 50%;
  }
  100% {
    opacity: 100%;
  }
}